/* .container{
    width:80%;
} */
.mrg-bottom{
    margin-bottom: 40px;
}
/* h2{
    color:white;
} */
hr{
    color: white;
    width: 80%;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: #D0E7D2;
    color: black;
    border-radius: 10px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 40px;
}
.table{
    color:black
}
.btn{
    background-color: black;
    color: white;
}